* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family:'Courier New', Courier, monospace;
  background-color: #1e2838 !important; 
  color: white!important;
}
